---
import Header from '../Header.astro'
import LeftSidebar from '../LeftSidebar.astro'

const title = import.meta.env.TITLE

const { content = {} } = Astro.props;
const currentPage = new URL(Astro.request.url).pathname;
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>{title}</title>
</head>
<body>
<div class="sticky top-0 z-10 w-full">
	<Header currentPage={currentPage} />
</div>
<div class="grid grid-cols-12">
	<div class="col-span-3 sticky top-0 pt-12 h-screen flex">
		<div class="ml-auto">
			<LeftSidebar currentPage={currentPage} />
		</div>
	</div>
	<main class="py-4 px-8 pb-32 col-span-9  overflow-auto">
		<div class='content'>
			<slot />
		</div>
	</main>
	<!--<div class="col-span-3 sticky top-0 h-screen flex">-->
	<!--</div>-->
</div>
</body>
</html>
