---
// Component Imports
import Counter from '@components/Counter.svelte'
import Layout from '@components/Layout/LayoutWrapper.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <Counter client:visible>
    <h1>Hello, Svelte!</h1>
    <p>Meet a deploy preview</p>
  </Counter>
</Layout>
