---
// Component Imports
import ComponentsTable from '@components/Layout/ComponentsTable.svelte'
import Layout from '@components/Layout/LayoutWrapper.astro'
import {
  ExternalComponents, InputComponents,
  InputFields, ListComponents,
  LowLevelViews,
  ModalComponents,
  NonModalComponents, ProgressIndicators,
  UtilityComponents
} from '../assets/components'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam, amet assumenda delectus fugiat illo ipsam
    laborum magnam magni minima nihil non obcaecati quis quos recusandae reiciendis similique suscipit tenetur?
  </div>
  <div>A ab accusamus corporis cupiditate deleniti exercitationem, in ipsum, laudantium quas quisquam recusandae sunt
    totam? Adipisci dignissimos et ex facilis iste molestiae neque nobis numquam placeat, provident rerum, ullam vero?
  </div>
  <div>Adipisci eius explicabo, laboriosam minus nemo nisi pariatur quasi quis rem voluptatibus. Adipisci, aperiam
    aspernatur consequatur distinctio fuga laboriosam libero, nam neque nisi numquam omnis voluptatem. Exercitationem
    harum pariatur quae?
  </div>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    h1 {
        @apply my-8 text-2xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl mx-[8rem] !important
    }
    h2 {
        @apply my-6 text-xl font-extrabold text-gray-900 lg:text-2xl mx-[8rem] !important
    }
</style>
