---
// Component Imports
import ComponentsTable from '@components/Layout/ComponentsTable.svelte'
import Layout from '@components/Layout/LayoutWrapper.astro'
import {
  ExternalComponents, InputComponents,
  InputFields, ListComponents,
  LowLevelViews,
  ModalComponents,
  NonModalComponents, ProgressIndicators,
  UtilityComponents
} from '../assets/components'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
 <h1> On this page will be general info about site, some abbreviations, schemes <h1/>
   <div>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus et placeat vero. Ab, architecto, deleniti
     dolores ducimus earum inventore, iusto libero modi odio perferendis quaerat quia quidem repudiandae sapiente ullam.
   </div>
   <div>
     Atque autem beatae corporis doloremque eligendi, eos esse et fugit, id iusto libero magni maiores nisi odit
     omnis pariatur perspiciatis praesentium provident quae quos repellendus similique sint! Accusantium, natus qui!
   </div>
   <div>
     A accusamus accusantium beatae blanditiis cum cumque debitis distinctio doloremque dolores doloribus eius
     impedit in iste itaque laboriosam libero, molestias nisi odio officia placeat quam sequi soluta ullam voluptates
     voluptatibus.
   </div>
</Layout>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    h1 {
        @apply my-8 text-2xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl mx-[8rem] !important
    }
    h2 {
        @apply my-6 text-xl font-extrabold text-gray-900 lg:text-2xl mx-[8rem] !important
    }
</style>
