---
// Component Imports
import ComponentsTable from '@components/Layout/ComponentsTable.svelte'
import Layout from '@components/Layout/LayoutWrapper.astro'
import { ModalComponents } from '@assets/components'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
  <h1>Modal dialogs</h1>
  <ComponentsTable components={ModalComponents} />
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  h1 {
    @apply mx-[8rem] my-8 text-2xl font-extrabold text-gray-900 md:text-2xl lg:text-3xl !important;
  }
  h2 {
    @apply mx-[8rem] my-6 text-xl font-extrabold text-gray-900 lg:text-2xl !important;
  }
</style>
